
/* menu-sub */
.submenuopen .submenu {
	display: block;
}

.menu_right {
	float: right;
	padding: 0px 3px 0px 0px;
}

.menu_right form,
.menu_right form span {
	font-size: 12px;
}

.nav {
    position: relative;
}

.nav-button {
	display: none;
}

.nav-ul {
	display: block;
	position: relative;
    width: 100%;
    z-index:5555;
    list-style: none;
    list-style-type: none;  
	margin: 0px;
	padding: 0px;
	letter-spacing: 0px;
	word-spacing: 0px;	 
	white-space: nowrap;
	border-bottom: 0px solid #777;
	font-size: 16px;
	background: #acacac;
}

.nav ul li {
    position:relative;
	display: block;
	color: #fff;
    list-style: none;
	font-size: 16px;
}
.nav ul li span {
	font-size: 16px;
}

.nav a {
	text-decoration: none;
}

.nav ul li a {
	padding: 0 10px 0 10px;
	color:#111;
	text-decoration: none;
}

.nav-ul li.submenuopen > a {
	color: #333;
	background: #47a3da;
}

.nav-ul li.submenuopen > a:hover {
	color: #eee;
	background: #47a3da;
}

/* first level */

.nav-ul > li:hover > a {
	color: #888;
	background: #e9e9e9;
}

.nav-ul.submenu {
    position:relative;
    float: left;
}

.nav-ul.submenu > li {
	float: left;
    margin: 0px 0px 0px 0px;
    display: inline;
}

.nav-ul.submenu > li .hassubmenu:after {
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-bottom: none;
	border-top-color: #fff;
	content: '';
	vertical-align: middle;
	display: inline-block;
	position: relative;
	right: -5px;
}

/* second level */

.nav-ul li > ul {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	white-space: nowrap;
	background: #bbb;
    z-index:7777;
    padding: 2px;
	min-width: 110px;
}

.nav-ul li.submenuopen > ul {
	background: #bbb;
}

.nav-ul li:hover > ul {
	display: block;
	background: #ccc;
    z-index:9999;
}

.nav-ul li:hover > ul li a {
    display: block; 
}

.nav-ul li > ul li a:hover {
	color: #888;
	background: #e9e9e9;
}

.nav-ul li > ul li .hassub:after {
    content: '+';
    /*position: absolute;*/
    top: 50%;
    right: 5px;
    margin-top: -11px;
}

.nav-ul > li > ul.submenu {
	position: absolute;
	top: 100%;
	left: 0;
}

.nav-ul > li > ul.submenu .menucolumns { /*do not set background-color*/
	padding: 0 5px 5px 0;
}

.nav-ul > li > ul.submenu .menucolumns ul li a:hover {
	color: #333;
	background: #f5f5f5;
}

.nav-ul > li > ul.submenu .menucolumns .highlighted { 
	background: #9f9f9f; 
	border: 1px solid #c1c1c1; 
}

/* third level */

.nav-ul .dropright ul {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	white-space: nowrap;
	background: #ccc;
    z-index:8888;
}

/* more level */

.nav-ul .dropright ul ul {
	background: #c7c7c7;
}

.menucolumn-1  {width: 55px;}
.menucolumn-2  {width: 110px;}
.menucolumn-3  {width: 165px;}
.menucolumn-4  {width: 220px;}
.menucolumn-5  {width: 275px;}
.menucolumn-6  {width: 330px;}
.menucolumn-7  {width: 385px;}
.menucolumn-8  {width: 440px;}
.menucolumn-9  {width: 495px;}
.menucolumn-10 {width: 550px;}
.menucolumn-11 {width: 605px;}
.menucolumn-12 {width: 660px;}
.menucolumn-13 {width: 715px;}
.menucolumn-14 {width: 770px;}
.menucolumn-15 {width: 825px;}
.menucolumn-16 {width: 880px;}
.menucolumn-17 {width: 935px;}
.menucolumn-18 {width: 990px;}
.menucolumn-19 {width: 1045px;}
.menucolumn-20 {width: 1100px;}

.menucol-1 { width:50px; }
.menucol-2 { width:105px; }
.menucol-3 { width:160px; }
.menucol-4 { width:215px; }
.menucol-5 { width:270px; }
.menucol-6 { width:325px; }
.menucol-7 { width:380px; }
.menucol-8 { width:435px; }
.menucol-9 { width:490px; }
.menucol-10 { width:545px; }
.menucol-11 { width:600px; }
.menucol-12 { width:655px; }
.menucol-13 { width:710px; }
.menucol-14 { width:765px; }
.menucol-15 { width:820px; }
.menucol-16 { width:875px; }
.menucol-17 { width:930px; }
.menucol-18 { width:985px; }
.menucol-19 { width:1040px; }
.menucol-20 { width:1095px; }

.menucol-1, .menucol-2, .menucol-3, .menucol-4, .menucol-5, .menucol-6, .menucol-7, .menucol-8, .menucol-9, .menucol-10, .menucol-11, .menucol-12, .menucol-13, .menucol-14, .menucol-15, .menucol-16, .menucol-17, .menucol-18, .menucol-19, .menucol-20 {
	display:inline-block;
	float: left;
	position: relative;
	margin: 5px 0 0 5px;
	background: #aaa;
}

.menucol-inner {
	padding: 5px;
}

.submenu {
	font-size: 16px;
}

.submenu h3 {
	color: #555;
	background: #939393;
	padding: 2px 3px 2px 5px;
	margin: 0;
	font-size: 120%;
}

.submenu h4 {
	color: #555;
	background: #939393;
	padding: 2px 3px 2px 5px;
	margin: 0;
	font-size: 110%;
}

.submenu h5 {
	color: #555;
	background: #939393;
	padding: 2px 3px 2px 5px;
	margin: 0;
	font-size: 100%;
}

.menucolumns .menucol-inner ul {
	padding: 0px 0px 0px 0px;
	margin: 0;
}	

/* Examples for media queries */

@media screen and (max-width: 35em) { 

	.nav {
		position: relative;
	}

    .nav-button {
        display: block;
        cursor: pointer;
		font-size: 110%;
        font-weight: 700;
		margin: 0;
		padding: 5px;
		background: #39b1cc;
    }
	.nav-button::before {
		display: block;
		content: '';
		position: absolute;
		height: 3px;
		width: 22px;
		border-top: 3px solid #d3eced;
		right: 7px;
		top: 8px;
	}
	.nav-button::after {
		display: block;
		content: '';
		position: absolute;
		height: 3px;
		width: 22px;
		border-top: 3px solid #d3eced;
		border-bottom: 3px solid #d3eced;
		right: 7px;
		top: 14px;
	}

	.nav-ul {
		height: auto;
		display: none;
		position: relative;
		white-space: nowrap;
	}

	.nav-ul.open {
		display: block;
	}

	.nav-ul li a {
		padding: 0 10px 0 10px;
	}

	.submenu li {
		display: block;
	}

	.menu_right {
		float:none;
	}
	.menu_right form {
		padding: 0 0;
	}	

	/* first level */

	.nav-ul li {
		float: none;
	}

	.nav-ul.submenu {
		position:relative;
	}

	.nav-ul.submenu > li {
		position:relative;
		display: block;
		float: none;
		padding: 0;
	}

	/* second level */
 
	.nav-ul li > ul {
		position: static;
		display: none;
	}	
	
	.nav-ul li > ul.submenu {
		position:relative;
		top: 0;
		left: 0;
	}

	.nav-ul li > ul.submenu .menucolumns {
		margin: 0px 0 0 0;
		padding: 0 2px 0 0;
	}

	/* third level */

	.nav-ul .dropright ul {
		position: static;
		padding: 0 0 0 3px;
	}

	/* more level */
	
	.nav-ul .dropright ul ul {
	}

	.menucol-1,	.menucol-2,	.menucol-3,	.menucol-4,	.menucol-5,	.menucol-6,	.menucol-7,	.menucol-8,	.menucol-9,	.menucol-10, .menucol-11, .menucol-12, .menucol-13,	.menucol-14, .menucol-15, .menucol-16, .menucol-17,	.menucol-18, .menucol-19, .menucol-20 {
		float: none;
		width: auto;
		margin: 2px 0 2px 2px;
	}
	.menucolumn-1, .menucolumn-2, .menucolumn-3, .menucolumn-4,	.menucolumn-5, .menucolumn-6, .menucolumn-7, .menucolumn-8, .menucolumn-9, .menucolumn-10, .menucolumn-11, .menucolumn-12, .menucolumn-13, .menucolumn-14, .menucolumn-15, .menucolumn-16, .menucolumn-17, .menucolumn-18, .menucolumn-19, .menucolumn-20 {
		width: auto; 
	}

	.nav-ul > li > ul.submenu .menucolumns .menucol { 
		position:relative;
		display: block;
		float: none;
		padding: 0;
	}
	
}
